body {
  font-family: Arial, sans-serif;
  color: #e6e6e6;
  background-color: #1b1b1b;
  line-height: 1.6;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
canvas {
  display: block;
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the canvas is behind other elements */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #1b1b1b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.headerText {
  color: #ccc;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  text-decoration: underline;
}
.hero {
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  font-size: 3em;
}
.hero h1 span {
  background: linear-gradient(90deg, #7b2ff7, #793764, #7b2ff7);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background: #7b2ff7; /* Static button background */
  color: white; /* Default text color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.05); /* Slight scaling effect */
}

.button span {
  display: inline-block;
  font-weight: bold;
  color: white; /* Default text color */
  transition: background 0.3s ease;
}

.button:hover span {
  background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1, #fbc2eb);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.projects h1 {
  font-size: 2em;
}

.projects h1 span {
  background: linear-gradient(90deg, #333333, #d3d3d3, #6e6e6e);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #7b2ff7;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover, .headerText:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}
.service-card {
  flex: 1;
  max-width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background: #202020;
}

.slider img {
  height: 40px;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.slider img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

footer {
  background: #1b1b1b;
  color: #e6e6e6;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-content p {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media img {
  width: 30px;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.social-media img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.projects {
  text-align: center;
  padding: 50px 20px;
  background: #202020;
}

.projects h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #fff;
}

.project-videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  max-width: 300px;
  background: #1b1b1b;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #e6e6e6;
}

.video-card video {
  width: 100%;
  border-radius: 10px;
}

.video-card p {
  margin-top: 10px;
  font-size: 1em;
}
